@page
@model FoodApp.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Restaurant.Name</h1>
<div>
    ID: @Model.Restaurant.Id
</div>

<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Coiusine: @Model.Restaurant.Cousine
</div>
<a asp-page="./List" class="btn btn-primary">All Restaurants</a>